ParlaMind/src/20211.pdf
ParlaMind/src/__pycache__/FileReader.cpython-313.pyc
.~lock.temp.csv#
ParlaMind/src/__pycache__/FileReader.cpython-312.pyc
data

# Ignore dynaconf secret files
.secrets.*
__pycache__/config.cpython-312.pyc
ParlaMind/src/temp.parquet
ParlaMind/src/__pycache__/DataRetriever.cpython-312.pyc
ParlaMind/src/__pycache__/FileProcessor.cpython-312.pyc
ParlaMind/src/topic_model_training.ipynb
ParlaMind/src/wordcloud.ipynb
reden.json
